* {
  font-family: "Spartan", sans-serif;
}
body {
  background-image: url("images/bg-pattern-top-desktop.svg"),
    url("images/bg-pattern-bottom-desktop.svg");
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
}

.upper_box {
  display: flex;
  width: 100vw;
  justify-content: space-between;

  /* positon: relative; */
}

.main-container {
  /* position: relative; */
  color: hsl(303, 10%, 53%);
  width: 30%;
  height: auto;
  /* display: inline-block; */
  text-align: left;
}
.main-container h1 {
  font-weight: 700;
  font-size: 50px;
  color: hsl(300, 43%, 22%);
}
.rat {
  /* position: absolute; */

  /* left: 45%;
    top: 10%; */

  width: 40%;
}

.rating {
  font-size: 15px;
  padding: 15px;
  padding-right: 40px;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  width: auto;
  background-color: hsl(300, 24%, 96%);
  border-radius: 4px;

  background-repeat: no-repeat;
}
span {
  margin-right: 10px;
  padding-left: 100px;
  background-image: url("images/icon-star.svg");

  background-repeat: space;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.lower_box {
  display: flex;
  /* justify-content: center; */
  /* width: 100vw; */
  /* position: relative; */
  justify-content: center;
  text-align: center;
  height: 50vh;
}

.container1 {
  display: inline-block;
  /* position: absolute; */
  background-color: hsl(300, 43%, 22%);

  color: white;
  padding: 2%;
  width: 20%;
  margin: 0px 10px 40px 10px;
  /* height: 40%; */
  /* top: 50%; */
  /* margin-right: 10px; */
  /* overflow: hidden; */
  height: auto;
  border-radius: 15px;
  /* margin-bottom: 40px; */
}

.container2 {
  display: inline-block;
  /* position: absolute; */
  padding: 2%;
  background-color: hsl(300, 43%, 22%);
  width: 20%;

  /* left: 25%;*/
  /* left: 30px; */
  top: 10px;
  margin: 20px 10px 30px 10px;

  color: white;

  margin-left: 10px;
  margin-top: 20px;

  height: auto;
  border-radius: 15px;
}

.container3 {
  display: inline-block;
  /* position: absolute; */
  padding: 2%;
  background-color: hsl(300, 43%, 22%);
  color: white;
  width: 20%;

  margin: 40px 10px 30px 0px;

  /* margin-top: 40px; */

  /* left: 50%;*/
  /* left: 60px; */
  /* top: 20px; */
  /* margin-left: 10px; */

  height: auto;
  border-radius: 15px;
}
.varify {
  color: hsl(333, 80%, 67%);
}
.photo {
  border-radius: 100%;
  float: left;
  margin-right: 5px;
}

@media screen and (max-width: 800px) {
  body {
    background-color: lavender;
  }

  .container1 {
    position: static;
    width: 90%;
    margin-top: 10%;
  }
  .container2 {
    position: static;
    width: 90%;
    margin-top: 10%;
    margin-left: 0;
  }
  .container3 {
    position: static;
    margin-top: 10%;
    width: 90%;
    margin-left: 0;
  }
  .rat {
    position: static;
    width: 80%;
  }
  .main-container {
    position: static;
    width: 80%;
  }
}
